img {
  width: 200px;
  height: 200px;
}

button:hover {
  background-color: #c5a028;
  transform: scale(1.1);
}

/* Стили для карточек */
.card {
  background-color: #5e5e5e;
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5); */
  margin: 20px 0;
  /* transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; */
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.card h2,
.card p {
  color: #7154e4;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.card p {
  font-size: 18px;
  text-align: justify;
}

.card:hover {
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
}

.text-decoration-none {
  color: rgb(62, 64, 62);
}
